.faq {
  width: 100%;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 48px 15px 80px 15px;

  @include breakpoint(small) {
    align-items: flex-start;
  }

  &_title {
    margin-bottom: 24px;
    text-align: center;
    width: 100%;
    color: $question-color;
    font-weight: 600;

    @include breakpoint(small) {
      margin-bottom: 48px;
      font-size: 30px;
    }
  }

  &_buttons-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding: 40px 20px 25px 20px;

    @include breakpoint(small) {
      width: 40%;
      flex-direction: column;
      max-width: 450px;
      justify-content: flex-start;
    }

    &::after {
      position: absolute;
      content: "";
      width: 90%;
      height: 2px;
      background-color: #eee;
      bottom: 0;

      @include breakpoint(small) {
        display: none;
      }
    }

    .faq_button {
      position: relative;
      height: 40px;
      font-size: 16px;
      padding: 15px;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      border: none;
      background-color: transparent;
      cursor: pointer;
      padding: 8px;
      text-align: center;

      @include breakpoint(small) {
        .line {
          animation: slideBack 0.5s ease-out both;
          width: 65px;
          height: 2px;
          background-color: $blue-primary;
          margin-left: 15px;

          &.active {
            animation: slide 0.5s ease-out both;
          }
        }
      }

      @include breakpoint(small) {
        justify-content: flex-start;
        width: 100%;
      }

      &.active {
        position: relative;
        color: $blue-primary;

        &:focus {
          border: 1px solid $blue-primary;
        }
      }
    }
  }
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideBack {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(50px);
  }
}
