*,
html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar.active {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
}

.navbar_logo {
  height: 100%;
}

.navbar_loginBtn {
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #4772d9;
  font-weight: 600;
  cursor: pointer;
}

.navbar_loginBtn_icon {
  height: 16px;
  background-color: transparent;
  margin-right: 8px;
}

.section {
  width: 100%;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))), url("../images-svg/bg-white.png");
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images-svg/bg-white.png");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px;
}

@media screen and (min-width: 768px) {
  .section {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 15px 60px;
  }
}

@media screen and (min-width: 992px) {
  .section {
    padding: 15px 110px;
  }
}

@media screen and (min-width: 1920px) {
  .section {
    padding: 15px 250px;
  }
}

.card {
  width: 100%;
  max-width: 370px;
  height: 422px;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
  margin: 10px 0 24px 0;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .card {
    width: 40%;
    margin: 10px 30px 24px 0;
  }
}

.card_title {
  padding: 15px 0;
  text-align: center;
}

.card_title span {
  color: #4772d9;
  font-size: 20px;
}

.card_price {
  font-size: 64px;
  color: #4772d9;
  position: relative;
  padding: 20px 0;
}

.card_price::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.card_list {
  height: 60%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #555555;
  text-align: center;
  padding: 15px;
}

.card_list_link {
  color: #4772d9;
  cursor: pointer;
  text-decoration: none;
}

.card_list_link:hover {
  color: black;
}

.formWrapper {
  max-width: 520px;
  background-color: rgba(251, 251, 251, 0.55);
  padding: 25px;
  border: 1px solid rgba(0, 0, 0, 0.07);
}

@media screen and (min-width: 768px) {
  .formWrapper {
    width: 40%;
  }
}

.formWrapper_title {
  font-size: 22px;
  letter-spacing: 1px;
}

.formWrapper_title span {
  color: #4772d9;
}

.formWrapper_subtitle {
  color: #555555;
  margin-bottom: 35px;
}

.formWrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 35px;
}

.formWrapper form label {
  font-size: 13px;
  font-weight: 600;
  color: #555555;
  margin-bottom: 10px;
}

.formWrapper form input {
  width: 100%;
  max-width: 300px;
  height: 38px;
  padding: 6px 12px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.075);
  font-size: 16px;
  margin-bottom: 30px;
}

.formWrapper form input:focus {
  outline: none;
  border: 1px solid blue;
}

.formWrapper form .formTerms {
  width: 100%;
  max-width: 300px;
  height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.formWrapper form .formTerms input {
  width: 13px;
  height: 13px;
  margin: 0 3px 0 0;
}

.formWrapper form .formTerms label {
  font-size: 13px;
  letter-spacing: 1px;
  margin: 0;
}

.formWrapper form .formTerms label a {
  text-decoration: none;
  cursor: pointer;
  color: #4772d9;
}

.formWrapper form .formButton {
  width: 180px;
  height: 46px;
  border-radius: 24px;
  font-weight: bold;
  background-color: #4772d9;
  color: white;
  border: none;
  letter-spacing: 1px;
  font-size: 16px;
  cursor: pointer;
}

.formWrapper .provider {
  font-size: 12px;
  color: #555555;
  font-style: italic;
}

.formWrapper .provider a {
  text-decoration: none;
  color: #4772d9;
}

.faq {
  width: 100%;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px 15px 80px 15px;
}

@media screen and (min-width: 768px) {
  .faq {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.faq_title {
  margin-bottom: 24px;
  text-align: center;
  width: 100%;
  color: #444;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .faq_title {
    margin-bottom: 48px;
    font-size: 30px;
  }
}

.faq_buttons-wrapper {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
  padding: 40px 20px 25px 20px;
}

@media screen and (min-width: 768px) {
  .faq_buttons-wrapper {
    width: 40%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 450px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.faq_buttons-wrapper::after {
  position: absolute;
  content: "";
  width: 90%;
  height: 2px;
  background-color: #eee;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .faq_buttons-wrapper::after {
    display: none;
  }
}

.faq_buttons-wrapper .faq_button {
  position: relative;
  height: 40px;
  font-size: 16px;
  padding: 15px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 8px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .faq_buttons-wrapper .faq_button .line {
    -webkit-animation: slideBack 0.5s ease-out both;
            animation: slideBack 0.5s ease-out both;
    width: 65px;
    height: 2px;
    background-color: #4772d9;
    margin-left: 15px;
  }
  .faq_buttons-wrapper .faq_button .line.active {
    -webkit-animation: slide 0.5s ease-out both;
            animation: slide 0.5s ease-out both;
  }
}

@media screen and (min-width: 768px) {
  .faq_buttons-wrapper .faq_button {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
}

.faq_buttons-wrapper .faq_button.active {
  position: relative;
  color: #4772d9;
}

.faq_buttons-wrapper .faq_button.active:focus {
  border: 1px solid #4772d9;
}

@-webkit-keyframes slide {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideBack {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

@keyframes slideBack {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

.footer {
  background-color: #333;
  width: 100%;
  height: 130px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.footer_text {
  max-width: 540px;
  text-align: center;
  font-size: 14px;
  padding: 0 40px;
  color: rgba(255, 255, 255, 0.35);
}

.footer_text a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.35);
  border-bottom: 1px dotted rgba(255, 255, 255, 0.35);
  padding-bottom: 3px;
}

.footer_text a:hover {
  color: rgba(255, 255, 255, 0.45);
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
}

.questionOverlay {
  width: 100%;
  max-width: 1500px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media screen and (min-width: 768px) {
  .questionOverlay {
    width: 40%;
  }
}

.questionOverlay .questionWrapper {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .questionOverlay .questionWrapper {
    max-width: 1000px;
  }
}

.questionOverlay .questionWrapper .question_title {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  color: #444;
}

.questionOverlay .questionWrapper .question_title.active {
  cursor: unset;
}

.questionOverlay .questionWrapper .answer {
  max-height: 0;
  font-size: 16px;
  color: #555555;
  line-height: 1.8;
  overflow: hidden;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  margin-bottom: 10px;
}

.questionOverlay .questionWrapper .answer.active {
  max-height: 5500px;
  -webkit-transition: max-height 1s linear;
  transition: max-height 1s linear;
}

.questionOverlay .questionWrapper .answer .stepsImg {
  width: 100%;
  max-height: 500px;
  margin: 10px 0;
}

.questionOverlay .questionWrapper .answer .steps {
  margin-top: 20px;
  color: #555555;
  white-space: pre-line;
}

.questionOverlay .questionWrapper .answer .steps span {
  font-weight: bold;
  color: #555555;
}

.questionOverlay .questionWrapper .answer .steps a {
  text-decoration: none;
  color: #4772d9;
}

.questionOverlay .questionWrapper .answer .steps a:hover {
  color: black;
}

.arrowDown {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(90deg) translateY(0);
          transform: translateX(-50%) rotate(90deg) translateY(0);
  width: 50px;
  height: 50px;
  display: none;
  text-decoration: none;
  font-size: 32px;
  color: black;
  cursor: pointer;
  -webkit-animation: goDown 1s ease-out infinite;
          animation: goDown 1s ease-out infinite;
}

@media screen and (min-width: 768px) {
  .arrowDown {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
}

@-webkit-keyframes goDown {
  from {
    opacity: 0;
    -webkit-transform: rotate(90deg) translatex(-20px);
            transform: rotate(90deg) translatex(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: rotate(90deg) translatex(30px);
            transform: rotate(90deg) translatex(30px);
  }
}

@keyframes goDown {
  from {
    opacity: 0;
    -webkit-transform: rotate(90deg) translatex(-20px);
            transform: rotate(90deg) translatex(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: rotate(90deg) translatex(30px);
            transform: rotate(90deg) translatex(30px);
  }
}
/*# sourceMappingURL=index.css.map */